<%
six = Route.where("grade <= 6.9")
seven = Route.where("grade >= 7 AND grade <= 7.9")
eight = Route.where("grade >= 8 AND grade <= 8.9")
nine = Route.where("grade >= 9 AND grade <= 9.9")
ten = Route.where("grade >= 10 AND grade <= 10.9")
eleven = Route.where("grade >= 11 AND grade <= 11.9")
twelve = Route.where("grade >= 12")
%>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Grade');
    data.addColumn('number', 'Actual');
    data.addColumn('number', 'Ideal');
    data.addRows(7);
    data.setValue(0, 0, '5.6-');
    data.setValue(0, 1, <%= six.count %>);
    data.setValue(0, 2, 1);
    data.setValue(1, 0, '5.7');
    data.setValue(1, 1, <%= seven.count %>);
    data.setValue(1, 2, 2);
    data.setValue(2, 0, '5.8');
    data.setValue(2, 1, <%= eight.count %>);
		data.setValue(2, 2, 3);
    data.setValue(3, 0, '5.9');
    data.setValue(3, 1, <%= nine.count %>);
		data.setValue(3, 2, 4);
    data.setValue(4, 0, '5.10');
    data.setValue(4, 1, <%= ten.count %>);
		data.setValue(4, 2, 3);
    data.setValue(5, 0, '5.11');
    data.setValue(5, 1, <%= eleven.count %>);
		data.setValue(5, 2, 2);
    data.setValue(6, 0, '5.12+');
    data.setValue(6, 1, <%= twelve.count %>);
		data.setValue(6, 2, 1);
    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    chart.draw(data, {width: 750, height: 500, backgroundColor: '#F4F4F4', colors:['#376EC1','#ccc']});
  }
</script>
<div id="chart_div"></div>
